@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

/* nav styles */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    background-color: #eefafa;
    padding-bottom: 10px;
    box-shadow: 0px 15px 10px -15px #111;
    position: sticky;
    top: 0;
}

.logo {
    padding-left: 20px;
}

.nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
}

.nav__link a:hover {
    background-color: #a8dadc;
    border-radius: 25px;
}

.nav__link a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}

/* Box 1 */

.box-1 {
    margin: 20px 20px;
    padding: 40px 20px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1-text {
    font-size: 3rem;
    font-weight: 400;
    margin-right: 20px;
}

.box-1 img {
    height: 20rem;
    width: 20rem;
    margin-left: 40px;
}

.box-1 span {
    color: #88d3d5;
}

.steth {
    height: 10rem;
    width: 8rem;
    position: absolute;
    z-index: -1;
    top: 25vw;
    left: 10vw;
}

/* What we do */

.work{
    margin: 5rem;
    padding: 0;
    line-height: 1.8rem;
}

.work p.heading {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.work hr {
    width: 20%;
}

/* Footer */

footer{
    background-color: #eefafa;
    text-align: center;
    padding: 15px 0px;
}