<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>HealthDove</title>
</head>

<body>
    <nav class="nav">
        <a href="#" class="logo"><img src="logo.png" alt="LOGO"></a>
        <div class="nav__link">
            <a href="#">Home</a>
            <a href="#">Predict</a>
            <a href="#">Termino</a>
            <a href="#">About</a>
        </div>
    </nav>
    <main>
        <div style="margin-bottom: 50px;">
            <div class="box-1">
                <div class="box1-text">
                    <p><span>Health is not </span><br> valued till sickness <br> comes</p>
                </div>
                <img src="health1.png" alt="health-img">
            </div>
            <img class="steth" src="stethoscope.png">
        </div>
        <div class="work">
            <p class="heading">What we do</p>
            <hr>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo exercitationem soluta a laboriosam quod
                obcaecati veritatis sunt enim sint, aspernatur ducimus aut quaerat. Neque aliquid ullam provident
                accusamus dolorem id explicabo eum, obcaecati non nemo quos aperiam saepe? Distinctio dolorum, odio
                reprehenderit corporis quaerat suscipit labore nisi, eveniet qui nostrum ipsam. Possimus, neque eius
                sequi nulla minus recusandae, nihil suscipit tempore sint ea numquam odio adipisci ipsum animi! Magni
                dolores ab accusantium, ad officiis illum nesciunt? Placeat fugit, delectus neque iste magni illum sequi
                quas fugiat. Esse nemo totam qui nesciunt dignissimos, sequi minus vero repudiandae veritatis culpa
                eveniet, ex harum eaque magnam minima, iste explicabo in ullam! Sint molestias sapiente illum
                consequuntur? Dicta a quod accusantium sunt velit repudiandae expedita, quas voluptatem maiores
                deserunt, quaerat, odio nam tenetur commodi saepe officiis! Harum tempore obcaecati voluptas doloremque,
                praesentium rem earum velit ducimus, libero reprehenderit laudantium aperiam, aliquam quasi ad et quas
                adipisci dolore quaerat pariatur! Officia, vel impedit! Quos, voluptatem ab. Obcaecati temporibus eius
                recusandae mollitia eaque illum, nulla reprehenderit, iure commodi sunt, ea hic maxime. Maiores sint sed
                eveniet dolor! Similique eius ex optio amet tenetur. Cupiditate, laborum numquam perferendis ut eos
                ipsum autem voluptatum quia optio, vero dignissimos? Quaerat ea quas doloribus dicta laudantium eveniet
                mollitia magni, repellat molestias, consequatur dolor, quidem inventore quis nam excepturi voluptatibus
                harum modi et. Eveniet error laborum ducimus inventore sequi? Accusamus alias accusantium, animi quaerat
                ullam magnam cum inventore nam iusto placeat rerum quo, ad asperiores voluptatum quos, corporis
                explicabo aspernatur culpa. Nostrum ipsam omnis vel nobis, ratione ut sunt, illo earum cumque delectus
                tempore doloremque dolor veritatis quae eaque enim minima voluptas magni quod totam consequatur.
                </p>
        </div>

    </main>
    <footer>
        &copy; Copyright 2022 
    </footer>
</body>

</html>